@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 300vh;
}
:root{
    --primary: #0077ff;
    --secondary: #242424;
}

/* Navbar */

nav{
    background-color: var(--secondary);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}
nav h1{
    font-size: 28px;
    width: 156px;
    cursor: default;
}
nav h1 span{
    color: var(--primary)
}
nav > ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav > ul li{
    margin: 1rem;
    text-align: center;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
nav > ul li a:hover{
    font-weight: bold;
}
nav .icons{
    width: 156px;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}
nav .icons span{
    font-size: 35px;
    cursor: pointer;
    user-select: none;
}
nav .icons span:hover{
    font-weight: bold;
}
nav .icons span:last-child{
    display: none;
    margin-left: .5rem;
}
nav .hamburguer{
    max-height: 0px;
    display: block;
    position: absolute;
    top: 67px;
    left: 0;
    width: 100%;
    overflow: hidden;
    transition: max-height .7s ease-out;
}
nav .hamburguer ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}
nav .hamburguer ul li{
    font-size: 20px;
    padding: .3rem;
    background-color: var(--secondary);
    border: 1px solid #646464;
    border-left: 0;
    border-right: 0;
    text-align: center;
}
nav .hamburguer ul li:hover{
    background-color: #646464;
    font-weight: bold;
}

/* Banner */
header .banner{
    display: flex;
    background-image: radial-gradient(circle, #fff, #cfcfcf);
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    height: 510px;
    overflow: hidden;
}
header .banner .left-content p{
    font-size: 1.3rem;
}
header .banner .right-content{
    flex-basis: 50%;
}
header .banner .right-content img{
    max-width: 400px;
    padding: 1rem;
    text-align: center;
}

/* Carrousel */

.carrousel-container{
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    height: 300px;
    padding: .5rem;
}
.carrousel{
    display: none;
    align-items: center;
    width: 350px;
    overflow: hidden;
}
.carrousel .images{
    display: flex;
    transform: translateX(-350px);
}
.carrousel .images img{
    width: 350px;
}
.static{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.static .item{
    max-width: 250px;
}
.static img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

@media screen and (max-width: 600px){
    nav > ul{display: none;}
    nav .icons span:last-child{display: block;}
    header .banner{
        flex-direction: column;
        padding-top: 3rem;
        justify-content: center;
    }
    .static{display:none;}
    .carrousel{display: flex;}
}

/* Main */

main{
    background-color: #f5f5f5;
    padding: 2.5rem 0 1rem 0;
}
main h2{
    text-align: center;
    padding-bottom: .3rem;
}
.underline{
    width: 100px;
    height: 3px;
    background-color: var(--primary);
    margin: auto;
}
.on-offer{
    display: grid;
    grid-template-columns: repeat(4, minmax(180px, 1fr));
    justify-content: center;
    margin: 2rem 3rem;
    gap: 1rem;
}

/* product */

.product{
    max-width: 300px;
    cursor: pointer;
}
.product:hover{
    transform: translateY(-3px);
    opacity: .8;
    transition: all .3s;
}
.product img{
    max-width: 100%;
    margin-bottom: .3rem;
}
.product-name, .product-rate{font-size: 1.2rem;}
.product-name {font-weight: 700;}
.product-price {font-size: 1.1rem;}

.product-price span{
    font-weight:600 ;
    margin-right: 2px;
}
@media screen and (max-width: 800px) {
    .on-offer{
        grid-template-columns: repeat(2, minmax(150px, 1fr));
        margin: 2rem 1rem;
        gap: .5rem;
    }
}